<section class="card">
    <a href="/event/{{event_id}}">
        <header>{{event_title}}</header>
        <img src="/images/{{locations.[0].filename}}" alt="{{locations.[0].description}}">
    </a>
</section>