<section class="location">
  {{!-- <img src="/images/{{location.filename}}" alt="{{location.description}}"> --}}
  <div class="location-details">
    <h3>{{location.location_name}}</h3>
    <p>ZipCode: {{location.zip_code}}</p>
  </div>
</section>