<div class="tab-content">
  <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
    <form class="login-form">
      <div class="text-center mb-3">
        <p>Please Login To Your Account</p>
      </div>
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" id="loginName" class="form-control" />
        <label class="form-label" for="loginName">Email</label>
      </div>
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="loginPassword" class="form-control" />
        <label class="form-label" for="loginPassword">Password</label>
      </div>

      <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign
        in</button>
      <p>
        <a href="./signUp">Make a new account!</a>
      </p>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>