:root {
  --primary: #3d5852;
  --secondary: #86938f;
  --tertiary: #5e877f;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: #FFFFFF;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 130px;
}

header div ul {
  display: flex;
  flex-wrap: wrap;
}

header div ul li {
  list-style: none;
  margin-right: 50px;
  margin-top: 15px;
}

header div ul li a {
  list-style: none;
  background-color: #64F67B;
  color: black;
  padding: 15px;
  font-weight: bold;
  border-radius: 25px;
  text-decoration: none;
  font-size: 14px;
}

header div ul li a:hover {
  text-decoration: none;
  background-color: #53df50;
}

header div ul li .btn {
  list-style: none;
  background-color: #64F67B;
  color: black;
  padding: 15px;
  font-weight: bold;
  border-radius: 25px;
  text-decoration: none;
  font-size: 14px;
}

header div ul li .btn:hover {
  text-decoration: none;
  background-color: #53df50;
}

main {
  position: relative;
}

main h1 {
  position: absolute;
  top: 200px;
  left: 350px;
  color: #FFFFFF;
  z-index: 10;
  font-size: 45px;
}

.tab-content form {
  margin: 0 auto;
}

.tab-content form {
  width: 500px;
  border: 2px solid rgb(218, 216, 216);
  padding: 50px;
  border-radius: 25px;
  margin-top: 60px;
}



.event {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

.location {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.location-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}

.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}


.card header {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: rgb(140, 226, 134);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.event-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

.events {
  width: 1500px;
  display: flex;
  flex-wrap: wrap;
}